@layer fonts {
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/roboto-v51-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/roboto-v51-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/roboto-v51-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("./fonts/roboto-v51-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  display: grid;
  grid-template-areas:
    "aside head"
    "aside main";
}
@layer aside {
  aside {
    grid-area: aside;
    width: 300px;
    background: #1992d4;
  }
  #logo {
    display: flex;
    align-items: center;
    margin: 1.25rem !important;
    padding: 20px;
    gap: 15px;
  }
  #logo svg {
    fill: white;
  }
  #logo a {
    font-size: 20px;
  }
  #logo a,
  nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }

  .links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.5rem;
    margin: 1.25rem !important;
  }
  .links:first-child {
    padding-bottom: 3rem !important;
    padding-top: 2rem !important;
  }
  .single-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
  }
  .single-link:hover {
    cursor: pointer;
  }
  .single-link svg {
    fill: white;
  }
}

@layer header {
  header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem !important;
  }
  #search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  #search-bar input {
    background-color: rgb(235, 231, 231);
    border: none;
    height: 30px;
    width: 600px;
    border-radius: 15px;
  }
  #logged-in {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  #logged-in span img {
    border-radius: 50%;
  }
  #logged-in p {
    font-weight: 600;
    font-size: 1.5rem;
  }
}
@layer main {
  main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "top top"
      "projects right-side";
  }
  #user-greeting {
    grid-area: top;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem 2rem 3rem !important;
  }
  #profile-info {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  #profile-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  #add-project {
    display: flex;
    gap: 1rem;
  }
  #add-project a {
    text-decoration: none;
    background: #1992d4;
    color: white;
    padding: 15px 35px !important;
    border-radius: 30px;
    font-weight: 500;
  }
  #your-projects {
    grid-area: projects;
    background: rgb(225, 232, 240);
    padding: 2rem !important;
  }
  #your-projects h2,
  #announcements h2,
  #trending h2 {
    margin-bottom: 1rem !important;
  }
  .project-cards {
    display: grid;
    grid-template-columns: repeat(2, calc(400px + 2rem));
    gap: 2rem;
  }
  .project-info {
    background: white;
    border-left: 5px solid orange;
    border-radius: 10px;
    padding: 2rem !important;
    width: 400px;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .project-actions {
    align-self: flex-end;
    display: flex;
    gap: 0.75rem;
  }
  .right-panel {
    grid-area: right-side;
    background: rgb(225, 232, 240);
    padding: 2rem !important;
  }
  #announcements {
    margin-bottom: 2rem !important;
  }
  .announcement-items {
    background-color: white;
    padding: 2rem 3rem !important;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .trending-items {
    background: white;
    padding: 2rem 3rem !important;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .trending-item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .trending-item img {
    border-radius: 50%;
  }
  .name-tag {
    font-weight: 500;
  }
}
