@font-face {
  font-family: Norse;
  src: url("./fonts/Norse.otf") format("opentype");
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Norse", sans-serif;
  color: white;
  font-size: 100px;
}
h2 {
  margin-bottom: 20px;
}
main {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}
/*----LEFT SIDE----*/
#left {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}
#logo-banner {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  width: 100%;
  padding: 15px;
}
#logo-banner img {
  width: 100px;
}
#photo-credit,
#photo-credit a {
  color: rgba(255, 255, 255, 0.6);
}
/*----RIGHT SIDE----*/
#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  background: #f7f9fa;
}
#intro {
  font-weight: 600;
  font-size: 25px;
  padding-left: 40px;
  padding-right: 60px;
  padding-bottom: 50px;
}
#form-section {
  padding: 30px 40px;
  background: white;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.1);
}
#account-already {
  padding-left: 40px;
  font-weight: 600;
  padding-top: 35px;
}
#account-already a {
  color: #596d48;
  text-decoration: none;
}
#account-already a:hover {
  text-decoration: underline;
}
/*----FORM----*/
input {
  border: 1px solid #e5e7eb;
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 3px;
}
input:user-invalid {
  border: 1px solid red;
}
input:focus {
  /*border: 1px solid blue;*/ /*My browser added the blue border automaticly, so I don't know if this is needed.*/
  box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.22);
}
fieldset {
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 15px;
}
fieldset div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
button {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background: #596d48;
  color: white;
  font-weight: bold;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  cursor: pointer;
}
